<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLogin">
        <activity android:name=".MainActivity" />
        <activity android:name=".SettingActivity"/>
        <activity android:name=".RecyclerViewActivity"
            >
            <intent-filter>
                <!-- <editor-fold defaultstate="collapsed" desc="启动项设置"> -->
                <!--记住这两个参数，标志着app开启后的入口还是哪里-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- </editor-fold> -->
            </intent-filter>
        </activity>
    </application>

</manifest>